[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<3.1"
django-widget-tweaks = "<1.5"
django-datetime-widget = "<0.10"
djangorestframework = "<3.12"

[dev-packages]

[requires]
python_version = "3"
