[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<5.1"
django-widget-tweaks = "<1.5"
django-datetime-widget = "<0.10"
djangorestframework = "<3.15"
simple-openid-connect = "<0.6"

[dev-packages]

[requires]
python_version = "3"
