{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Karma</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/jquery.datetimepicker.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <script src="{% static 'js/lib/jquery.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/bootstrap.js' %}"  type="text/javascript" ></script>
{%  block head %}

{% endblock %}
</head>
<body>
<div id="wrap">
        <nav role="navigation" class="main-menu navbar navbar-fixed-top navbar-default">
            <div class="container">
                <a href="{% url "index" %}" class="navbar-brand">Karma - Real Internet Points</a>
            <div class="pull-right">
                    {% if request.user.is_anonymous %}
                        <a href="{% url 'login' %}"><i class="btn btn-primary">Login</i></a>
                    {% else %}
                    <a href=""><i class="fa fa-user"></i><span>{{ request.user.get_username }}</span></a> (<a href="/logout">Logout</a>)
                    {% endif %}
            </div></div>
        </nav>
<div id="content" class="container">
    <div class="container-fluid">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
        {% block content %}
        {% endblock %}
</div>

    <footer>
    <div class="navbar navbar-fixed-bottom navbar-default">
        <div class="container"><a href="/about">About</a>
            <span class="separator"></span><a href="link[1]" target="_blank">Imprint</a><span class="separator"></span>
            Current timezone is Europe/Berlin.
        </div>
    </footer>
</div>
<script src="{% static 'js/lib/moment-with-locales.min.js' %}"  type="text/javascript" ></script>
<script src="{% static 'js/lib/jquery.datetimepicker.full.min.js' %}"  type="text/javascript" ></script>
<script src="{% static 'js/main.js' %}"  type="text/javascript" ></script>

</body>
</html>
