{% extends "base.html" %}
{% load i18n %}

{% block title %}
Add Project
{% endblock %}

{% block content %}

    <h3>Create a new project:</h3>
    <form action="{% url 'karma_add_project' %}" method="POST">
        {% csrf_token %}
        Name of Project: {{ form.name }} <br>
        Owner: {{ form.user }} <br>
        Group allowed to contribute: {{ form.group }} <br>
        Karma rules: <br>
        {{ form.karma_rules }} <br>
        <input type="submit" name="submit" value="Submit">
    </form>


    <h3>Your Projects:</h3>
    <table>
    {% for project in projects %}
        <tr>
            <td><a href="{% url 'karma_project_overview' project.pk %}">{{ project.name }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
