{% extends "base.html" %}
{% load i18n %}

{% block title %}
Add Category
{% endblock %}

{% block content %}

    <form action="{% url 'karma_add_categories' %}" method="POST">
    {% csrf_token %}
        Name of Category: {{ form.name }}
        In Project: {{ form.project }}

    <input type="submit" name="submit" value="Submit">
    </form>


    <table>
        <th>Bestehende Kategorien:</th>
    {% for cat in categories %}
        <tr>
            <td><a href="{% url 'karma_category_overview' cat.pk %}">{{ cat.name }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
