{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ block.super }}

    {{ form.media }}
{% endblock %}

{% block title %}
{% if edit %}
Edit Entry
{% else %}
Personal Page
{% endif %}
{% endblock %}

{% block content %}

    My projects: {% for project in projects %}<a href="{% url 'karma_project_overview' project.pk %}">{{ project.name }}</a> (<a href="{% url 'karma_project_highscore' project.pk 45 %}">Highscore</a>)&emsp;{% endfor %}


    {% if edit %}
        <h1>Edit Entry</h1>
        <a href="{% url "karma_personal" %}">New entry</a>
    {% else %}
        <h1>Personal Page</h1>
    {% endif %}

    <div class="wrap form-group">
        <form action="{% if edit %}{% url 'edit_points' edit %}{% else %}{% url 'karma_personal' %}{% endif %}" method="post">
            {% csrf_token %}
            <label for="id_points">Points (refer to the <a href="{% url 'karma_rules' %}" target="_blank">rules of the project</a>) : </label><input id="id_points" class="form-control" style="width: 7em"
                                                          type="number" name="{{ form.points.name }}"
                                                          value="{{ form.points.value }}" placeholder="Points"
                                                          required="required"/>
            {% if form.points.errors %}
                <ul class="alert alert-danger">{{ form.points.errors }}</ul>
            {% endif %}
            <label for="id_desc">Description:</label>
            <input class="form-control" id="id_desc" type="text" name="{{ form.description.name }}"
                   value="{{ form.description.value|default_if_none:'' }}" placeholder="What have you done?"
                   required="required" width="50em"/>
            {% if form.description.errors %}
                <ul class="alert alert-danger">{{ form.description.errors }}</ul>{% endif %}
            <label>Project:</label>  <a href="{% url 'karma_add_project' %}">Add Project</a>
            <select class="form-control" name="{{ form.project.name }}" id="{{ form.project.id }}">
                <option value="">--------</option>
                {% for project in projects %}
                    <option {% if form.project.value == project.pk %}selected{% endif %} value="{{ project.pk }}">{{ project.name }}</option>
                {% endfor %}
            </select>
            <label for="id_category">Category:</label>{{ form.category }}
        <br />
            <label for="datetime">Date:</label>{{ form.time }}
        <br />
            <input type="submit" name="submit" value="{% if edit %}Edit{% else %}Submit{% endif %}" class="btn btn-default"/>
        </form>
    </div>

    <div>
        <table>
            <tr>
                <th width="170em">Wann</th>
                <th>Wieviel?</th>
                <th>Was?</th>
                <th>Project</th>
                <th>Category</th>
            </tr>
            <tr>
                <th>Summe:</th>
                <th>{{ sum }}</th>
                <th></th>
            </tr>
            {% for point in points %}
                <tr>
                    <td style="">{{ point.time }}</td>
                    <td>{{ point.points }}</td>
                    <td>{{ point.description }}</td>
                    <td><a href="{% url 'karma_project_overview' point.project.pk %}">{{ point.project }}</a></td>
                    <td><a href="{% url 'karma_category_overview' point.category.pk %}">{{ point.category }}</a></td>
                    <td><a href="{% url 'edit_points' point.pk %}" class="btn btn-default"><i class="fa fa-pencil"></i> </a> </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <a href="{% url 'karma_add_categories' %}">Add Category</a> -
    <a href="{% url 'karma_add_project' %}">Add Project</a>

{% endblock %}
