{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ project.name }}
{% endblock %}


{% block content %}

    <a href="{% url 'karma_add_project' %}">Add Project</a> | <a href="{% url 'karma_project_highscore' project.pk 45 %}">Highscore</a>

    <h1>Overview for Project {{ project.name }}</h1>

    <div>
        <table>
            <tr>
                <th width="170em">Wann</th>
                <th>Wieviel?</th>
                <th>Wer?</th>
                <th>Was?</th>
                <th>Category</th>
            </tr>
            <tr>
                <th>Summe:</th>
                <th>{{ sum }}</th>
                <th></th>
            </tr>
            {% for point in points %}
                <tr>
                    <td style="">{{ point.time }}</td>
                    <td>{{ point.points }}</td>
                    <td><a href="{% url 'karma_project_user' project.pk point.user.username %}">{{ point.user.username }}</a></td>
                    <td>{{ point.description }}</td>
                    <td><a href="{% url 'karma_category_overview' point.category.pk %}">{{ point.category }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
