{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ project.name }}
{% endblock %}


{% block content %}

    <a href="{% url 'karma_add_project' %}">Add Project</a> | <a href="{% url 'karma_project_highscore' project.pk 45 %}">Highscore</a>

    <h1>Overview for Project {{ project.name }}</h1>

    <div>
        <table>
            <tr>
                <th width="170em">Wann</th>
                <th>Wieviel?</th>
                <th>Wer?</th>
                <th>Was?</th>
                <th>Category</th>
            </tr>
            <tr>
                <th>Summe:</th>
                <th>{{ sum }}</th>
                <th></th>
            </tr>
            {% for point in points %}
                <tr>
                    <td style="">{{ point.time }}</td>
                    <td>{{ point.points }}</td>
                    <td><a href="{% url 'karma_project_user' project.pk point.user.username %}">{{ point.user.username }}</a></td>
                    <td>{{ point.description }}</td>
                    <td><a href="{% url 'karma_category_overview' point.category.pk %}">{{ point.category }}</a></td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                <div class="btn-group" role="group" aria-label="btn-group">
                    {% if points.has_previous %}
                        <a class="btn btn-default" href="?page=1">&laquo; first</a>
                        <a class="btn btn-default" href="?page={{ points.previous_page_number }}">previous</a>
                    {% endif %}
                    {% if points.has_other_pages %}
                        <span class="current btn btn-default">
                            Page {{ points.number }} of {{ points.paginator.num_pages }}
                        </span>
                    {% endif %}
                    {% if points.has_next %}
                        <a class="btn btn-default" href="?page={{ points.next_page_number }}">next</a>
                        <a class="btn btn-default" href="?page={{ points.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </div>
            </span>
        </div>
    </div>

{% endblock %}
